*{
font-family:Trebuchet MS,Helvetica,Arial,Lucida Sans Unicode,Lucida Grande,Tahoma,Geneva,Verdana,sans-serif;
font-weight:normal;
margin:0;
padding:0
}
html{
min-height:100%
}
body{
min-height:100%;
text-align:left;
direction:ltr;
unicode-bidi:embed;
font-size:14px;
color:#000;
background:#FFF
}
ul{
list-style:none
}
p{
word-break:break-word
}
a{
color:#99CC00;
cursor:pointer;
outline:0;
text-decoration:none
}
a:hover{
color:#339900
}
img{
vertical-align:middle;
border:0
}
input{
-khtml-appearance:none;
-o-appearance:none;
-ms-appearance:none;
-webkit-appearance:none;
-moz-appearance:none;
--webkit-appearance:none;
--moz-appearance:none;
text-overflow:clip
}
h1,h2,h3,h4{
font-weight:normal
}
::selection,::-moz-selection{
color:#FFF;
background:#339900
}
.app-cb{
clear:both
}
.appBlockUI{
position:absolute;
z-index:8000
}
.non-breakeable{
display:inline-block
}
.non-selectable{
-webkit-border-image:none;
-webkit-user-select:none;
-moz-user-select:none;
-khtml-user-select:none;
-o-user-select:none;
-ms-user-select:none;
-user-select:none;
user-select:none
}
.resizing *,
.resizing{
cursor:w-resize!important
}
.tooltipElementDOM{
cursor:pointer
}
.tooltipElement.opacity{
transition:opacity .3s;
-transition:opacity .3s;
-moz-transition:opacity .3s;
-webkit-transition:opacity .3s;
-khtml-transition:opacity .3s;
-o-transition:opacity .3s;
-ms-transition:opacity .3s
}
.tooltipElement{
z-index:10000;
background:rgb(0,0,0);
background:rgba(0,0,0,.6);
padding:8px 10px;
visibility:visible;
display:block;
font-size:14px;
opacity:0;
max-width:200px;
-ms-border-radius:4px;
-o-border-radius:4px;
-moz-border-radius:4px;
-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
-khtml-border-radius:4px;
color:#FFF
}
.tooltipElement .bold{
font-weight:bold
}
.tooltipElement .italic{
font-style:italic
}
.tooltipElement .tip-text{
display:none
}
.app-shadow{
text-shadow:1px 1px 2px rgba(0,0,0,.8)
}
.transition-all-3s{
-ms-transition:all .3s;
-khtml-transition:all .3s;
-o-transition:all .3s;
-moz-transition:all .3s;
-webkit-transition:all .3s;
-transition:all .3s;
transition:all .3s
}
.transition-all-5s{
-ms-transition:all .5s;
-khtml-transition:all .5s;
-o-transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;
-transition:all .5s;
transition:all .5s
}
#side .app-side-gradient{
position:absolute;
background:url(bg/app.png) repeat-x top left;
left:0;
right:0;
top:0;
z-index:10;
height:239px
}
#app .app-bg-gradient{
position:absolute;
z-index:3;
background:url(bg/app.png) repeat-x top left;
left:0;
right:0;
top:0;
height:239px
}
#app{
width:1000px;
min-height:787px;
height:787px;
position:relative;
margin:auto
}
#slide-background .bg-slider{
position:absolute;
z-index:1;
left:0;
right:0;
top:0;
bottom:0
}
#slide-background .bg-slider .bg-slider-item{
opacity:1;
visibility:visible!important;
background-position:top center;
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;
width:100%;
height:100%;
overflow:hidden
}
#slide-background .bg-slider .bg-slider-container{
width:100%;
height:100%;
position:relative;
overflow:hidden
}
#slide-background .app-bg-gradient{
position:absolute;
z-index:2;
background:url(bg/app.png) repeat-x top left;
left:0;
right:0;
top:0;
height:239px
}
#slide-background{
z-index:1;
position:fixed;
top:0;
left:0;
bottom:0;
right:0
}
#main{
z-index:9;
position:absolute;
top:0;
left:0;
bottom:0;
right:0
}
#side{
z-index:10;
position:absolute;
top:0;
left:0;
bottom:0;
width:160px
}
#app.contacto #side .pointer-ico,
#app.contacto #side .side-bg{
background:#FFCC00
}
#app.contacto #side .pointer{
top:142px
}
#app.servicios #side .pointer-ico,
#app.servicios #side .side-bg{
background:#FF0033
}
#app.servicios #side .pointer{
top:57px
}
#app.barra-movil #side .pointer-ico,
#app.barra-movil #side .side-bg{
background:#FF0033
}
#app.barra-movil #side .pointer{
top:87px
}
#app.menu #side .pointer-ico,
#app.menu #side .side-bg{
background:#99CC00
}
#app.menu #side .pointer{
top:29px
}
#app.clientes #side .pointer-ico,
#app.clientes #side .side-bg{
background:#FF9900
}
#app.clientes #side .pointer{
top:114px
}
#side .side-bg{
z-index:2;
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
background:#FFF
}
/*
#app.home #side #menu{
overflow:hidden;
left:160px;
background:rgba(255,255,255,.5)
}*/
#app.home #side .side-bg,
#app.home #side .pointer-ico{
opacity:.5
}
#side .pointer .pointer-ico{
-webkit-transform:rotate(136deg);
-moz-transform:rotate(136deg);
-o-transform:rotate(136deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.7);
-ms-transform:rotate(136deg);
height:20px;
width:30px;
position:absolute;
left:-22px;
background:#FFF
}
#side .pointer{
height:30px;
width:22px;
overflow:hidden;
z-index:1;
padding-top:405px;
font-size:30px;
position:absolute;
right:-22px;
font-family:Tahoma,Verdana,sans-serif
}
#side #menu{
padding:8px 0;
overflow:visible;
background:rgba(255,255,255,0);
z-index:3;
position:absolute;
left:5px;
width:170px;
top:390px
}
#side #menu li a.active:hover span.ico,
#side #menu li a.active span.ico{
opacity:1
}
#side #menu li a span.ico.ico-barra-movil{
margin-left:9px
}
#side #menu li a:hover span.ico{
opacity:1
}
#side #menu li a span.ico{
-ms-transition:opacity .3s;
-khtml-transition:opacity .3s;
-o-transition:opacity .3s;
-moz-transition:opacity .3s;
-webkit-transition:opacity .3s;
-transition:opacity .3s;
transition:opacity .3s;
opacity:0;
display:inline-block;
display:none;
width:12px;
height:24px;
background:url(ico/menu-active.png) no-repeat;
margin-left:15px;
vertical-align:middle;
top:-3px;
position:relative
}
#side #menu li a:hover{
color:#444
}
#side #menu li a.active:hover{
color:#000
}
#side #menu li.facebook:hover{
opacity:.8
}
#side #menu li.facebook img{
overflow:hidden;
-ms-border-radius:2px;
-o-border-radius:2px;
-moz-border-radius:2px;
-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
-khtml-border-radius:2px
}
#side #menu li.facebook{
opacity:1;
margin-top:5px
}
#side #menu li a{
-ms-transition:color .3s;
-khtml-transition:color .3s;
-o-transition:color .3s;
-moz-transition:color .3s;
-webkit-transition:color .3s;
-transition:color .3s;
transition:color .3s;
font-size:18px;
display:block;
line-height:28px;
height:28px;
padding-left:10px;
color:#000;
text-transform:uppercase
}
#app .client-logo{
position:absolute;
z-index:100;
top:15px;
left:20px;
overflow:hidden;
width:280px;
height:284px
}
#footer.not-fixed{
position:relative;
margin-top:-10px
}
#footer{
position:fixed;
z-index:11;
bottom:0;
left:0;
right:0;
height:40px;
overflow:hidden
}
#footer .footer-copyright a{
margin-left:5px
}
#footer .footer-copyright{
width:60px;
position:relative;
top:-1px;
text-align:right;
float:right
}
#footer .footer-info{
width:400px;
top:1px;
position:relative;
float:left
}
#footer .footer-inside .footer-inside-content{
max-width:1000px;
margin:auto
}
#footer .footer-inside{
height:30px;
position:absolute;
bottom:0;
left:0;
right:0;
background:#231F20;
-o-box-shadow:0 -1px 2px #000;
-ms-box-shadow:0 -1px 2px #000;
-khtml-box-shadow:0 -1px 2px #000;
-moz-box-shadow:0 -1px 2px #000;
-webkit-box-shadow:0 -1px 2px #000;
-box-shadow:0 -1px 2px #000;
box-shadow:0 -1px 2px #000;
color:#FFF;
font-size:12px;
line-height:30px;
overflow:hidden;
padding-left:10px;
padding-right:8px
}
.app-section-error .content .info{
margin:0 5px
}
.app-section-error .content .info p{
color:#000;
text-align:left;
margin-bottom:30px;
font-size:18px
}
.app-section-error .content h1{
text-align:left;
font-weight:normal;
text-transform:uppercase;
color:#000;
margin-bottom:18px;
padding:5px;
border-bottom:1px dotted #FFF;
font-size:34px
}
.app-section-error .content .content-inside{
margin:20px
}
.app-section-error .content{
height:auto;
width:450px;
position:absolute;
z-index:8;
right:100px;
top:150px;
background:url(bg/white-50.png)
}
.app-section-home .content .info{
margin:0 5px
}
.app-section-home .content .info p{
margin-bottom:20px;
color:#000;
text-align:center;
font-size:19px
}
.app-section-home .content h1{
text-align:center;
font-weight:normal;
text-transform:uppercase;
color:#000;
margin:8px 0 18px;
padding:5px;
border-bottom:1px dotted #FFF;
font-size:34px
}
.app-section-home .content .content-inside{
margin:20px
}
.app-section-home .content{
bottom:0;
width:380px;
position:absolute;
z-index:8;
right:190px;
top:150px;
background:url(bg/white-50.png)
}
.widget-slider .widget-slider-item{
width:100%;
height:100%;
overflow:hidden
}
.widget-slider .widget-slider-img{
float:left;
margin:5px
}
.widget-slider .widget-slider-container{
width:484px;
height:484px;
position:relative;
margin:auto;
overflow:hidden
}
.widget-slider .widget-slider-navigation .widget-slider-arrow-right{
background-image:url(slider/arrow-right.png)
}
.widget-slider .widget-slider-navigation .widget-slider-arrow-left{
background-image:url(slider/arrow-left.png)
}
.widget-slider .widget-slider-navigation .widget-slider-count li a:hover,
.widget-slider .widget-slider-navigation .widget-slider-count li a.active{
background-position:center bottom
}
.widget-slider .widget-slider-navigation .widget-slider-count li a{
-ms-transition:all .2s;
-khtml-transition:all .2s;
-o-transition:all .2s;
-moz-transition:all .2s;
-webkit-transition:all .2s;
-transition:all .2s;
transition:all .2s;
display:block;
height:100%;
width:100%;
text-align:left;
cursor:pointer;
text-indent:-9999px;
overflow:hidden;
background:url(slider/point.png) center top no-repeat
}
.widget-slider .widget-slider-navigation .widget-slider-count li{
float:left;
margin-top:5px;
width:15px;
height:20px
}
.widget-slider .widget-slider-navigation .widget-slider-count{
height:30px;
padding:0 8px;
background:#FFF;
float:left
}
.widget-slider .widget-slider-navigation .widget-slider-arrow:hover{
opacity:.8
}
.widget-slider .widget-slider-navigation .widget-slider-arrow{
-ms-transition:opacity .2s;
-khtml-transition:opacity .2s;
-o-transition:opacity .2s;
-moz-transition:opacity .2s;
-webkit-transition:opacity .2s;
-transition:opacity .2s;
transition:opacity .2s;
opacity:1;
height:30px;
width:30px;
float:left
}
.widget-slider .widget-slider-navigation .widget-slider-navigation-bg{
padding-top:90px;
display:inline-block;
margin-left:12px
}
.widget-slider .widget-slider-navigation{
margin-bottom:5px;
clear:both
}
.app-section-clientes .content{
width:500px;
position:absolute;
z-index:8;
right:120px;
top:0;
bottom:0;
background:#231F20;
background:rgba(35,31,32, .5)
}
.app-section-contacto .form-fields .input textarea.post{
height:100px;
resize:none
}
.app-section-contacto .form-fields .input .post{
width:280px;
height:18px;
padding:3px 4px;
background:#FFF;
top:2px;
position:relative;
border:1px solid #FFF;
color:#333;
font-size:14px;
float:right
}
.app-section-contacto .form-ok .form-fields .input .post{
border:1px solid #0C640C;
background:#E4FFE8;
color:#0C640C
}
.app-section-contacto .form-fields .input.dl label{
top:-1px
}
.app-section-contacto .form-fields .input label{
line-height:16px;
font-size:16px;
color:#333;
vertical-align:top;
display:block;
position:relative;
top:6px;
text-align:right;
width:75px;
cursor:pointer;
float:left
}
.app-section-contacto .form-fields .input.submit .action-button{
width:290px;
color:#333;
font-size:20px;
text-align:center;
line-height:100px;
text-transform:uppercase;
background:#FFCC00;
cursor:pointer;
border:0;
height:100px
}
.app-section-contacto .form .info-box p.info-box-error{
width:280px;
float:right;
background:#FFDECB;
padding:5px;
-ms-border-radius:4px;
-o-border-radius:4px;
-moz-border-radius:4px;
-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
-khtml-border-radius:4px;
border:1px solid #D82626;
color:#D82626;
font-size:14px;
text-align:center
}
.app-section-contacto .form .info-box p.info-box-ok{
width:280px;
float:right;
background:#E4FFE8;
padding:5px;
-ms-border-radius:4px;
-o-border-radius:4px;
-moz-border-radius:4px;
-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
-khtml-border-radius:4px;
border:1px solid #0C640C;
color:#0C640C;
font-size:16px;
text-align:center
}
.app-section-contacto .form .info-box{
clear:both;
margin-bottom:-5px;
margin-top:20px;
overflow:hidden
}
.app-section-contacto .form{
padding:25px 30px 0
}
.app-section-contacto .form-fields .input.submit{
margin-top:20px;
text-align:right
}
.app-section-contacto .form-fields .input{
vertical-align:top;
overflow:hidden;
margin-bottom:10px;
padding-top:2px;
padding-bottom:2px
}
.app-section-contacto .content .content-inside{
margin:20px
}
.app-section-contacto .content{
top:150px;
width:480px;
position:absolute;
z-index:8;
right:120px;
bottom:0;
background:url(bg/white-50.png)
}
.app-section-barra-movil .content .item .item-head .item-img{
width:240px
}
.app-section-menu .content .item.item-1 .item-content .item-options .item-option{
background-image:url(ico/arrow-1.png)
}
.app-section-menu .content .item.item-2 .item-content .item-options .item-option{
background-image:url(ico/arrow-2.png)
}
.app-section-barra-movil .content .item.item-1 .item-head .item-head-content{
background-color:#FF0033
}
.app-section-barra-movil .content .item.item-2 .item-head .item-head-content{
background-color:#FF9900
}
.app-section-barra-movil .content .item.item-3 .item-head .item-head-content{
background-color:#339900
}
.app-section-barra-movil .content .item .item-content-inside{
padding:12px;
font-size:12px;
color:#333
}
.app-section-barra-movil .content .item .item-content ul li.marginb{
margin-bottom:7px
}
.app-section-barra-movil .content .item .item-content ul{
list-style:disc inside;
padding-left:6px;
margin-bottom:5px
}
.app-section-barra-movil .content .item.active .item-content{
height:100%
}
.app-section-barra-movil .content .item .item-content{
overflow:hidden;
position:absolute;
-khtml-transition:height .3s;
-ms-transition:height .3s;
-o-transition:height .3s;
-moz-transition:height .3s;
-webkit-transition:height .3s;
-transition:height .3s;
transition:height .3s;
left:0;
right:0;
height:0%;
background:url(bg/white-80.png)
}
.app-section-barra-movil .content .item .item-head:hover  .item-head-content,
.app-section-barra-movil .content .item.active .item-head:hover  .item-head-content,
.app-section-barra-movil .content .item.active .item-head  .item-head-content{
opacity:1
}
.app-section-barra-movil .content .item .item-head  .item-head-content{
-khtml-transition:opacity .3s;
-ms-transition:opacity .3s;
-o-transition:opacity .3s;
-moz-transition:opacity .3s;
-webkit-transition:opacity .3s;
-transition:opacity .3s;
transition:opacity .3s;
position:absolute;
text-align:center;
top:0;
left:0;
right:0;
opacity:0;
color:#FFF;
height:165px;
line-height:165px;
font-size:30px
}
.app-section-barra-movil .content .item .item-head{
position:relative;
cursor:pointer;
overflow:hidden;
height:165px
}
.app-section-barra-movil .content .item.active{
width:320px
}
.app-section-barra-movil .content .item.inactive{
width:160px
}
.app-section-barra-movil .content .item{
-khtml-transition:width .3s;
-ms-transition:width .3s;
-o-transition:width .3s;
-moz-transition:width .3s;
-webkit-transition:width .3s;
-transition:width .3s;
transition:width .3s;
height:100%;
width:220px;
position:relative;
overflow:hidden;
float:left
}
.app-section-barra-movil .content{
width:660px;
position:absolute;
z-index:8;
right:22px;
top:10px;
bottom:0
}
.app-section-servicios .content .item .item-head .item-img{
width:220px
}
.app-section-servicios .content .item.item-1{
left:0;
top:0
}
.app-section-servicios .content .item.item-2{
left:220px;
top:0
}
.app-section-servicios .content .item.item-3{
left:220px;
top:180px
}
.app-section-servicios .content .item.item-4{
left:440px;
top:180px
}
.app-section-servicios .content .item.item-5{
left:440px;
top:360px
}
.app-section-servicios .content .item.item-6{
left:440px;
top:0
}
.app-section-servicios .content .item.item-1 .item-content .item-options .item-option{
color:#FF0033
}
.app-section-servicios .content .item.item-2 .item-content .item-options .item-option{
color:#FF9900
}
.app-section-servicios .content .item.item-1 .item-head .item-head-content{
background-color:#FF0033
}
.app-section-servicios .content .item.item-2 .item-head .item-head-content{
background-color:#FF9900
}
.app-section-servicios .content .item.item-3 .item-head .item-head-content{
background-color:#663300
}
.app-section-servicios .content .item.item-4 .item-head .item-head-content{
background-color:#339900
}
.app-section-servicios .content .item.item-5 .item-head .item-head-content{
background-color:#FFCC00
}
.app-section-servicios .content .item.item-6 .item-head .item-head-content{
background-color:#ff0000
}
.app-section-servicios .content .item .item-content-inside{
padding:12px;
font-size:14px;
color:#333
}
.app-section-servicios .content .item .item-content p.ml{
margin-left:15px;
font-size:12px
}
.app-section-servicios .content .item .item-content p.little{
font-size:12px
}
.app-section-servicios .content .item .item-content ul{
list-style:disc inside;
padding-left:5px;
margin-bottom:8px
}
.app-section-servicios .content .item .item-content{
overflow:hidden;
position:absolute;
left:0;
right:0;
height:100%;
background:url(bg/white-80.png)
}
.app-section-servicios .content .item .item-head:hover  .item-head-content,
.app-section-servicios .content .item.active .item-head:hover  .item-head-content,
.app-section-servicios .content .item.active .item-head  .item-head-content{
opacity:1
}
.app-section-servicios .content .item .item-head  .item-head-content{
-khtml-transition:opacity .3s;
-ms-transition:opacity .3s;
-o-transition:opacity .3s;
-moz-transition:opacity .3s;
-webkit-transition:opacity .3s;
-transition:opacity .3s;
transition:opacity .3s;
position:absolute;
text-align:center;
top:0;
left:0;
right:0;
opacity:0;
color:#FFF;
height:180px;
line-height:180px;
font-size:30px
}
.app-section-servicios .content .item .item-content h2{
font-size:17px;
padding-bottom:2px;
margin-bottom:10px;
border-bottom:1px dotted #333
}
.app-section-servicios .content .item .item-head{
position:relative;
cursor:pointer;
overflow:hidden;
height:180px
}
.app-section-barra-movil .content .item.active .item-head .item-head-content,
.app-section-servicios .content .item.active .item-head .item-head-content{
background-image:url(ico/close.png);
background-repeat:no-repeat;
background-position:right top
}
.app-section-servicios .content .item.active{
z-index:5;
height:100%
}
.app-section-servicios .content .item{
-khtml-transition:height .3s;
-ms-transition:height .3s;
-o-transition:height .3s;
-moz-transition:height .3s;
-webkit-transition:height .3s;
-transition:height .3s;
transition:height .3s;
height:180px;
width:220px;
position:absolute;
overflow:hidden;
z-index:2;
float:left
}
.app-section-menu .content .item.active{
width:440px
}
.app-section-menu .content .item{
-khtml-transition:all .3s;
-ms-transition:all .3s;
-o-transition:all .3s;
-moz-transition:all .3s;
-webkit-transition:all .3s;
-transition:all .3s;
transition:all .3s
}
.app-section-menu .content .item .item-content .item-options .item-option:first-child{
border-top:0
}
.app-section-menu .content .item .item-content .item-options .item-option:hover{
color:#666
}
.app-section-menu .content .item .item-content .item-options .item-option.active{
background-position:10px center
}
.app-section-menu .content .item .item-content .item-options .item-option{
-khtml-transition:all .2s;
-ms-transition:all .2s;
-o-transition:all .2s;
-moz-transition:all .2s;
-webkit-transition:all .2s;
-transition:all .2s;
transition:all .2s;
background-repeat:no-repeat;
background-position:-20px center;
padding-left:30px;
cursor:pointer;
font-weight:bold;
padding-bottom:3px;
padding-top:3px;
border-top:1px dotted #333
}
.app-section-menu .content .item .item-content .item-options{
margin-bottom:5px;
font-size:16px
}
.app-section-menu .content .item .item-content h3:first-child{
margin-top:5px
}
.app-section-menu .content .item .item-content p.little{
font-size:11px
}
.app-section-menu .content .item .item-content ul.columns li{
color:#333
}
.app-section-menu .content .item .item-content ul.columns{
-khtml-column-count:2;
-ms-column-count:2;
-o-column-count:2;
-moz-column-count:2;
-webkit-column-count:2;
-column-count:2;
column-count:2
}
.app-section-menu .content .item .item-content p,
.app-section-menu .content .item .item-content ul{
font-size:12px
}
.app-section-menu .content .item .item-content h3{
margin-top:5px
}
.app-section-menu .content .item .option-change.active{
display:block
}
.app-section-menu .content .item .option-change{
display:none
}
.app-section-servicios .content{
width:660px;
overflow:hidden;
position:absolute;
z-index:8;
right:22px;
top:35px;
bottom:0
}
.app-section-menu .content .item.item-4.active{
left:220px
}
.app-section-menu .content .item.item-5.active{
left:220px;
top:180px
}